.albums {
    margin: 0 0 0 10px;
    position:relative;
    left:0;
    top:0;
    width: 50%;
    
}

.photos {
    position:absolute;
    right:0;
    top:0;
    margin: 10px 10px;
    
}

ul{
    list-style: none;
    
}

li {
    cursor: pointer;
    border: 2px solid green;
    margin-top: 5px;
    text-align: center;
}
